@charset "utf-8";

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/noto_sans/NotoSans-Regular.ttf') format('truetype');
}

/* Reset components */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%; 
}

body {
  background-color: #FFFFFF;
  color: #727272;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-align: left;
}

p {
  line-height: 1.5;
}

#main {
  font-size: 1.3rem;
  height: 100%;
  margin-left: 42%;
  margin-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative;
  width: 43%;
}

#main h3 {
  color: #525252;
}

#profile_img {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 3%;
  max-width: 100%;
  object-fit: contain;
  width: 200px;
}

#title {
  color: #525252;
  font-size: 3.0rem;
  font-weight: bold;
  margin-bottom: 3%;
}

#subtitle {
  color: #525252;
  font-size: 2.0rem;
  margin-bottom: 12%;
}

#navigation {
  height: 100%;
  margin: 0;
  padding-left: 15%;
  padding-top: 5%;
  position: fixed;
  width: 25%;
}

#navigation ul {
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

#navigation ul a:link, a:visited, a:hover, a:active {
  color: #3399cc;
  text-decoration: none;
}

#navigation ul li a {
  display: table;
  height: 30px;
}

#navigation ul li a:hover {
  cursor: pointer;
  font-weight: bold;
}

.content {
  display: none;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}
